header {
  text-align: center;
}

header h1 {
  margin: 0;
  font-family: "Quicksand", sans-serif;
  font-size: 4rem;
  color: #000000;
  z-index: 0;
}

header p {
  margin-top: 20px;
  font-weight: bold;
  color: #ebe7ef;
  font-family: "Quicksand", sans-serif;
}