.slider-container .slick-prev,
.slider-container .slick-next {
  z-index: 10;
  width: auto;
  height: auto;
  background: none;
  border: none;
  padding: 0;
}

.slider-container .slick-prev:focus,
.slider-container .slick-next:focus {
  outline: none;
  background: none;
}

.slider-container .slick-prev:before,
.slider-container .slick-next:before {
  color: rgb(79, 70, 229);
  font-size: 24px;
  opacity: 1;
  background: none;
  border-radius: 0;
}

.slider-container .slick-prev:hover:before,
.slider-container .slick-next:hover:before {
  color: rgb(79, 70, 229);
}
